body,h1,h2,h3,p,ul,li{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
li{
    list-style-type: none;
}
img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.box{
    background-color: #E6DCCA;
}
.boxul{
    display: flex;
    justify-content: center;
}
.boxli{
    font-size: 14px;
    height: 30px;
    margin-left: 50px;
    font-weight: lighter;
    margin-top: 10px;
}
h1{
    width: 124px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.menuul{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.menuli{
    font-size: 15px;
    flex-grow: 1;
    text-align: center;
    
}
.menuli + .menuli{
    border-left: 1px solid #000;
}
.lineupli img{
    width: 100%;
}
.lineupul{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 40px;
    padding: 0 60px;
    margin-top: 70px;
}
.lineupli{
    width: 200px;
    margin: 0 auto;
}
.menu{
    font-size: 14px;
    text-align: left;
    margin-top: 15px;
    letter-spacing: 0.07rem;
    border-bottom: 1.5px dotted black;
    padding-bottom: 10px;
}
.solt{
    font-size: 14px;
    text-align: left;
    margin-top: 15px;
    letter-spacing: 0.07rem;
    border-bottom: 1.5px dotted black;
    padding-bottom: 32px;
}
.lineup{
    border-bottom: 1px solid rgb(166, 166, 166);
    padding-bottom: 90px;
}
.price{
    font-size: 14px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footerrogo{
    width: 120px;
}
.footerul{
    display: flex;
    margin-top: 70px;
    margin-left: 60px;
    font-size: 15px;
}
span{
    color: #C11E1E;
}
.footerli{
    margin-left: 60px;
}
.footermenu{
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 15px;
}
.footermenu li{
    margin-left: 40px;
}
footer p{
    text-align: center;
    font-size: 13px;
    margin-top: 50px;
    margin-bottom: 15px;
}