body,h1,h2,h3,p,ul,li{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
li{
    list-style-type: none;
}
img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.box{
    background-color: #E6DCCA;
}
.boxul{
    display: flex;
    justify-content: center;
}
.boxli{
    font-size: 14px;
    height: 30px;
    margin-left: 50px;
    font-weight: lighter;
    margin-top: 10px;
}
h1{
    width: 124px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.menuul{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.menuli{
    font-size: 15px;
    flex-grow: 1;
    text-align: center;
    
}
.menuli + .menuli{
    border-left: 1px solid #000;
}
h2 img{
    margin-top: 10px;
    width: 100%;
}
h3{
    font-size: 27px;
    text-align: center;
    color: #AA781A;
    font-family: "ヒラギノ明朝 Pro";
    margin-top: 50px;
}
.history{
    font-size: 18px;
    font-family: "ヒラギノ明朝 Pro";
    text-align: center;
    margin-top: 30px;
    line-height: 2;
}

.footerrogo{
    width: 120px;
}
.footerul{
    display: flex;
    margin-top: 70px;
    margin-left: 60px;
    font-size: 15px;
}
.tel{
    color: #C11E1E;
}
.footerli{
    margin-left: 60px;
}
.footermenu{
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 15px;
}
.footermenu li{
    margin-left: 40px;
}
footer p{
    text-align: center;
    font-size: 13px;
    margin-top: 50px;
    margin-bottom: 15px;
}
.lineup ul{
    display: flex;
    flex-wrap: wrap;
    width: clamp(320px,100%,1200px);
    margin: 0 auto;
    gap: 50px;
    padding: 0 30px;
    margin-top: 80px;
}
.lineup li{
    width: calc((100% - 74px) / 4);
    margin: 0 auto;
}
.lineup img{
    width: 57%;
}
.one{
    display: flex;
    align-items: center;
}
.onemilk{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.left{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.style{
    margin-top: 10px;
}
h4{
    font-size: 14px;
    letter-spacing: 0.2rem;
    margin-top: -5px;
}
.tyoko{
    font-size: 20px;
}
.price{
    font-size: 15px;
    margin-top: -10px;
}
.btn {
    background: #FF8B00;
    color: #fff;
    font-size: 14px;
    padding: 3px 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    transition-property: opacity;   
    -webkit-transition-property: opacity;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    margin-top: 15px;
}
.btn:hover {
    opacity: .7;
}
.two{
    text-align: center;
    display: block;
}
.style{
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
    text-align: left;
    display: inline-block;
    margin-left: 20px;
}
.tokibi{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 120px;
}
.lineup{
    border-bottom: 1px solid rgb(166, 166, 166);
    padding-bottom: 90px;
}